/*configuraciones*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oleo+Script+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
/*partils*/
* {
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.header {
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: #000000;
  opacity: 65%; }

.logo-header {
  width: 7.2%;
  float: left;
  margin-left: 7.2%;
  margin-top: 42px;
  margin-bottom: 31px; }
  .logo-header img {
    max-width: 100%;
    width: 100%; }

.nav-header {
  width: 37%;
  float: right;
  margin: 44px; }

.nav-list {
  list-style: none; }
  .nav-list li {
    float: left; }
  .nav-list li + li {
    margin-left: 3%; }
  .nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: light;
    color: #fff;
    font-size: 16px; }

.fb {
  margin-left: 3%; }

.nav-list-link {
  display: none;
  color: #fff;
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 25px;
  text-decoration: none;
  text-align: right;
  margin-right: 7.2%; }

.main-image {
  position: relative;
  margin-bottom: 64px; }
  .main-image img {
    max-width: 100%;
    width: 100%; }

.box-galery {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 47px; }
  .box-galery h2 {
    text-align: center;
    margin-bottom: 77px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #271e3f; }

.box {
  width: 27%;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 51px;
  position: relative; }
  .box img {
    max-width: 100%;
    width: 100%; }
  .box span {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 12px 0 21px 0;
    background-color: black;
    opacity: 65%;
    color: #fff;
    text-align: center;
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 36px; }
  .box .caribe {
    position: absolute;
    bottom: 50px; }
  .box a {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-decoration: none;
    color: #fff;
    padding: 12px 0 21px 0;
    background-color: black;
    opacity: 65%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 19px; }

.container-somos {
  position: relative; }
  .container-somos img {
    max-width: 100%;
    width: 100%; }

.ico {
  width: 14.2%;
  position: absolute;
  left: 19.3%;
  top: 45%; }

.box-somos {
  width: 37.7%;
  position: absolute;
  top: 9.8%;
  right: 10.3%; }
  .box-somos h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 39px; }
  .box-somos p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 25px; }
  .box-somos p + p {
    margin-bottom: 26px; }

.footer {
  padding: 0;
  margin: 0;
  background-color: #000000; }

.nav-footer {
  width: 40.2%;
  padding-left: 31.25%;
  padding-top: 50px; }
  .nav-footer div img {
    padding: 41px 0 41px 42%; }
  .nav-footer p {
    color: #fff;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding-bottom: 41px; }

/*breakpoints*/
@media (max-width: 1024px) {
  /*HEADER*/
  .nav-list {
    display: none; }
  .nav-list-link {
    display: block; }
  /*GALERY*/
  .box-galery h2 {
    font-size: 25px; }
  .box {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%; }
  /*SOMOS*/
  .box-somos {
    width: 45%;
    top: 12%; }
    .box-somos h3 {
      font-size: 30px;
      margin-bottom: 19px; }
    .box-somos p {
      font-size: 15px;
      line-height: 20px; }
    .box-somos p + p {
      margin-bottom: 12px; }
  /*footer*/
  .nav-footer p {
    font-size: 15px; }
  .nav-footer .nav-list-link {
    text-align: center; } }

@media (max-width: 767px) {
  /*GALERY*/
  .box-galery {
    margin-left: 5%; }
  .box-galery + .box-galery {
    float: none; }
  .box {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  /*SOMOS*/
  .box-somos {
    width: 45%; }
    .box-somos h3 {
      font-size: 18px;
      margin-bottom: 12px; }
    .box-somos p {
      font-size: 15px;
      line-height: 18px; }
    .box-somos .hidden {
      display: none; } }
