.footer{
  background-color: #000000;
}

.nav-footer{
  margin-left: 450px;
  padding-top: 50px;
  
  div img{
    margin: 41px 0 41px 268px;
  }
}


p {
  color: #fff;
  margin-top:10px;
  font-family: $nav-font;
  font-size: 18px;
  padding-bottom: 41px;
}