.footer{
  margin: 0;
  padding: 0;
}
.nav-footer{
  width: 40.4%;
  margin: 0 auto;
  padding-top: 50px;
}

img{
  margin-top: 20px;
  margin: 0 auto;
}

p {
  float: left;
  color: #fff;
  margin-top:10px;
}