.box-galery {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 47px;
  
  h2{
    text-align: center;
    margin-bottom: 77px;
    font-family: $nav-font;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #271e3f;
  }
  
}


.box {
  width: 27%;
  float: left;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 51px;
  position: relative;

  img{
    max-width: 100%;
    width: 100%;
  }
 

  span{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 12px 0 21px 0;
    background-color: black;
    opacity: 65%;
    color: #fff;
    text-align: center;
    font-family: $galery-font;
    font-size: 36px;
  }

  .caribe {
    position: absolute;
    bottom: 50px;
  }

  a{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-decoration: none;
    color: #fff;
    padding: 12px 0 21px 0;
    background-color: black;
    opacity: 65%;
    text-align: center;
    font-family: $primary-font;
    font-size: 19px;
  }

}
