.box-galery {
  width: 88.2%;
  margin: 0 auto;
  margin-bottom: 47px;
  
  h2{
    text-align: center;
    margin-bottom: 77px;
    font-size: 30px;
    color: #271e3f;
  }

  img {
    width: 27.6%;
    
  }

  img + img {
    margin-left: 2.6%;
  }

}

.box-img {
  margin-bottom: 51px;
}