.header{
  right: 0;  
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: #000000;
  opacity: 65%;
}


.logo-header {
  width: 7.2%;
  float: left;
  margin-left: 7.2%;
  margin-top: 42px;
  margin-bottom: 31px;


  img{
    max-width: 100%;
    width: 100%;
  }
}

.nav-header {
  width: 37%;
  float: right;
  margin: 44px;  
}

.nav-list {
  @include nav;
}

.fb {
  margin-left: 3%;
}

.nav-list-link{
  display: none;
  color: #fff;
  font-family: $galery-font;
  font-size: 25px;
  text-decoration: none;
  text-align: right;
  margin-right: 7.2%;
}