.header{
  width: 100%;  
  position: absolute;
  z-index: 1;
  background-color: #000000;
  opacity: 65%;
}


.logo-header {
  width: 7.2%;
  float: left;
  margin-left: 7.2%;
  margin-top: 42px;
  margin-bottom: 31px;


  img{
    max-width: 100%;
    width: 100%;
  }
}

.nav-header {
  width: 37%;
  float: right;
  margin: 44px 0 44px 0;
  
}

.nav-list {
  list-style: none;
  
  li {
    float: left;
  }
  
  li + li {
    margin-left: 3%;
  }
  
  a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: $nav-font;
    font-weight: light;
    color: #fff;
    font-size: 16px;
  }
}

.fb {
  margin-left: 3%;

}

