.container-somos {
  position: relative;  

  img{
    max-width: 100%;
    width: 100%;
  }
}


.ico {
  width: 14.2%;
  position: absolute;
  left: 19.3%;
  top: 265px;
}

.box-somos {
  width: 37.7%;
  position: absolute;
  top: 9.8%;
  right: 10.3%;



  h3 {
    font-family: $primary-font;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 39px;
  }

  p{
    font-family: $nav-font;
    font-size: 18px;
    color: #fff;
    line-height: 25px;
  }

  p + p {
    margin-bottom: 26px;
  }
}