@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

$nav-font: 'Montserrat', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$galery-font:'Oleo Script Swash Caps', cursive;